@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="container mb-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom ">
                    <div class="p-xs mt-1">
                        <h2>Dashboard - site info</h2>
                    </div>
                </div>

                <div class="ibox-content forum-container">

                    <div class="forum-item">
                        <div class="row text-center">
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <a asp-area="Administration" asp-controller="Users" asp-action="Index">Users</a>
                                </div>
                                <span class="views-number">
                                    @Model.TotalRegisteredUsers
                                </span>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <a asp-area="Administration" asp-controller="Users" asp-action="Banned">Banned Users</a>
                                </div>
                                <span class="views-number">
                                    @Model.TotalBannedUsers
                                </span>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <a asp-area="" asp-controller="Torrent" asp-action="All">Torrents</a>
                                </div>
                                <span class="views-number">
                                    @Model.TotalTorrents
                                </span>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <a asp-area="Administration" asp-controller="Torrents" asp-action="All">Waiting approval</a>
                                </div>
                                <span class="views-number">
                                    @Model.TotalWaitingApproval
                                </span>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <p>Downloaded GBs</p>
                                </div>
                                <span class="views-number">
                                    @Model.TotalDownloadedGBs.ToString("F2")
                                </span>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-2">
                                    <p>Uploaded GBs</p>
                                </div>
                                <span class="views-number">
                                    @Model.TotalUploadedGBs.ToString("F2")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var comment in Model.AllComments)
{
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="ml-3 mt-3 mr-3">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="@comment.UserImageUrl" class="d-block ui-w-50 rounded-circle img-sm" alt="User Profile pic">
                            <div class="media-body ml-3">
                                @comment.UserUserName
                                <div class="text-muted small">
                                    @*<time datetime="@comment.CreatedOn.ToString("O")"></time>*@
                                    <time>@comment.CreatedOn</time>
                                </div>
                            </div>

                            @if (!comment.IsDeleted)
                            {
                                <div class="text-muted small ml-3">
                                    <div>
                                        <form asp-area="" asp-controller="Comment" asp-action="Delete" method="post" onSubmit="return confirm('Are you sure you wish to delete that comment ?');">
                                            <input type="hidden" name="CommentId" value="@comment.Id" />
                                            <input type="hidden" name="TorrentId" value="@comment.TorrentId" />
                                            <input type="submit" class="btn btn-danger" value="Delete">
                                        </form>
                                    </div>
                                </div>
                                <div class="text-muted small ml-3">
                                    <div> <a class="btn btn-secondary" asp-area="" asp-controller="Torrent" asp-action="ById" asp-route-id="@comment.TorrentId">Torrent #@comment.TorrentId</a></div>
                                </div>
                            }

                        </div>
                        <hr />

                    </div>
                    <div class="card-body">
                        <article class="mb-3">

                            @if (comment.IsDeleted)
                            {
                                <h3 class="text-danger">This comment is deleted</h3>
                            }
                            <p>@comment.Content</p>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


