@model TorrentListViewModel
@{
    ViewData["Title"] = "Torrents";
}

@if (this.User.Identity.IsAuthenticated)
{
    <form asp-controller="Torrent" asp-action="All" asp-route-id="1">
        <div class="input-group mb-4">
            <input type="search" name="search" class="form-control" value="@Model.Search" placeholder="Enter keywords, space separated..." />
            <div class="input-group-append">
                <input type="submit" value="Search" class="btn btn-outline-primary" />
            </div>
        </div>
    </form>
}

<table class="table table-hover table-responsive-lg">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th>Categories</th>
            <th scope="col">Uploader</th>
            <th scope="col">Size</th>
            <th scope="col">Uploaded on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var torrent in Model.Torrents)
        {
            <tr>
                <td><span data-toggle="tooltip" data-placement="top" title="@torrent.Title">@torrent.TitleShort</span></td>
                <td>Temp Cat 1, Temp Cat 2</td>
                <td>@torrent.Uploader</td>
                <td>@torrent.Size</td>
                <td>@torrent.CreatedOn</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}