@model TorrentViewModel
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                <div class="card single_post">
                    <div class="body">
                        <div>
                            <form id="torrentsForm" asp-controller="Torrent" asp-action="Download">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <h3 class="text-center">Link: <input type="submit" class="torrent-download-link underline" value="@Model.Title"></h3>
                            </form>

                        </div>
                        <div class="img-post">
                            <img class="d-block img-fluid ml-auto mr-auto" src="@Model.ImageUrl" alt="Torrent Image">
                        </div>
                        <section>
                            <h3>Description</h3>
                            <article>
                                @Model.Description
                            </article>
                        </section>
                        <hr />
                        <section>
                            <h3>Torrent info</h3>
                            <article>
                                Uploader: <a asp-controller="Users" asp-action="ById" asp-route-id="@Model.Uploader.Id">@Model.Uploader.UserName</a>
                            </article>
                            <article>
                                Uploaded on: @Model.CreatedOn
                            </article>
                            <article>
                                Torrent size: @Model.Size GBs
                            </article>
                            <article>
                                Downloaded times: @Model.DownloadersCount
                            </article>
                        </section>
                        @if (User.IsInRole(adnumaZ.Common.Constants.Constants.AdministratorRoleName))
                        {
                            <div class="mt-2">
                                @if (Model.IsApproved)
                                {
                                    <button id="approveButton" class="btn btn-danger" onclick="approve(@Model.Id)"> Disapprove </button>
                                }
                                else
                                {
                                    <button id="approveButton" class="btn btn-danger" onclick="approve(@Model.Id)"> Approve </button>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Comments TODO!</h2>
                    </div>
                    <div class="body">
                        <ul class="comment-reply list-unstyled">
                            @*foreach*@
                            <li class="row clearfix">
                                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Awesome Image"></div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">Gigi Hadid </h5>
                                    <p>Why are there so many tutorials on how to decouple WordPress? how fast and easy it is to get it running (and keep it running!) and its massive ecosystem. </p>
                                    <ul class="list-inline">
                                        <li><a href="javascript:void(0);">Mar 09 2018</a></li>
                                        <li><a href="javascript:void(0);">Reply</a></li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Leave a comment</h2>
                    </div>
                    <div class="body">
                        <div class="comment-form">
                            <form class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div class="header">
                        <h2>Categories Clouds</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            <li><a href="javascript:void(0);">eCommerce</a></li>
                            <li><a href="javascript:void(0);">Microsoft Technologies</a></li>
                            <li><a href="javascript:void(0);">Creative UX</a></li>
                            <li><a href="javascript:void(0);">Wordpress</a></li>
                            <li><a href="javascript:void(0);">Angular JS</a></li>
                            <li><a href="javascript:void(0);">Enterprise Mobility</a></li>
                            <li><a href="javascript:void(0);">Website Design</a></li>
                            <li><a href="javascript:void(0);">HTML5</a></li>
                            <li><a href="javascript:void(0);">Infographics</a></li>
                            <li><a href="javascript:void(0);">Wordpress Development</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Popular Posts</h2>
                    </div>
                    <div class="body widget popular-post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single_post">
                                    <p class="m-b-0">Apple Introduces Search Ads Basic</p>
                                    <span>jun 22, 2018</span>
                                    <div class="img-post">
                                        <img src="https://via.placeholder.com/280x280/87CEFA/000000" alt="Awesome Image">
                                    </div>
                                </div>
                                <div class="single_post">
                                    <p class="m-b-0">new rules, more cars, more races</p>
                                    <span>jun 8, 2018</span>
                                    <div class="img-post">
                                        <img src="https://via.placeholder.com/280x280/87CEFA/000000" alt="Awesome Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function approve(torrentId, condition) {
            var token = $("#torrentsForm input[name=__RequestVerificationToken]").val();
            var json = { torrentId: torrentId };
            var isApproved = $("#approveButton").text();
            console.log(isApproved);
            $.ajax({
                url: "/api/changeApproval",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    if (isApproved == "Approve") {
                        $("#approveButton").text("Disapprove");
                    }
                    else
                    {
                        $("#approveButton").text("Approve");
                    }
                }
            });
        }
    </script>
}
